*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

/* Light Theme */
body.light{
    background-color: #f4f4f4;
    color: #111;
}

/* Dark Theme */
body.dark{
    background-color: #111;
    color: #fff;
}

.container{
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

body.light button{
    background-color: #111;
    color: white;
}

body.dark button{
    background-color: white;
    color: #111;
}

button:hover{
    transform: scale(1.05);
}